
$mycolor: (
    primary: #00d4f174,
    accent: #FFF6BB,
    );




@mixin box($width, $height, $background) {
    width: $width;
    height: $height;
    background-color: $background;
}

@mixin bgImage($image) {
    background: url($image);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    
};
@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@mixin citys ($image){
    background-image: $image;
    width: 300px;
    height: 500px;
    padding: 20px;
    margin: 5px;
    background-size: cover;
    @content;
}
@mixin Footer{
    font-family: sans-serif;
    text-align: center;  
    position: fixed;
    background-color: rgb(80, 69, 69);
    @content
}